In [1]:
# imports
import models
import utils

In [2]:
#read in data - only using application_train
app_train = utils.load_app_training_data()
app_test = utils.load_test_data()

Training data shape:  (307511, 122)
Testing data shape:  (48744, 121)

In [4]:
train_data = utils.load_pickle("./final_features_train.pkl")
test_data = utils.load_pickle("./final_features_test.pkl")

In [5]:
print(train_data.shape)
print(test_data.shape)

(307511, 660)
(48744, 660)

In [6]:
train_data.drop(columns=['SK_ID_CURR'], inplace=True)
test_data.drop(columns=['SK_ID_CURR'], inplace= True)

In [7]:
train_data.dtypes.value_counts()

float64    659
dtype: int64

In [12]:
train_data.head()

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,DAYS_EMPLOYED EXT_SOURCE_1,EXT_SOURCE_1 EXT_SOURCE_3,EXT_SOURCE_2 DAYS_LAST_PHONE_CHANGE,EXT_SOURCE_2 DAYS_REGISTRATION,EXT_SOURCE_1 DAYS_REGISTRATION,EXT_SOURCE_2 EXT_SOURCE_3,EXT_SOURCE_3 DAYS_REGISTRATION,EXT_SOURCE_3 DAYS_ID_PUBLISH,EXT_SOURCE_1 DAYS_LAST_PHONE_CHANGE,EXT_SOURCE_2 EXT_SOURCE_1
0,0.0,0.0,0.001512,0.090287,0.090032,0.256321,0.888839,0.045086,0.852140,0.705433,...,0.069647,0.011197,0.226286,0.262069,0.061537,0.047686,0.132128,0.109380,0.053135,0.022209
1,0.0,0.0,0.002089,0.311736,0.132924,0.045016,0.477114,0.043648,0.951929,0.959566,...,0.292178,0.178337,0.587373,0.692789,0.297890,0.414750,0.542494,0.546847,0.252563,0.227744
2,1.0,1.0,0.000358,0.022472,0.020025,0.134897,0.348534,0.046161,0.827335,0.648326,...,0.507778,0.418657,0.526726,0.537925,0.425447,0.529339,0.673558,0.527822,0.416590,0.334352
3,0.0,0.0,0.000935,0.066837,0.109477,0.107023,0.350846,0.038817,0.601451,0.661387,...,0.426991,0.293059,0.651388,0.457554,0.309289,0.433544,0.342760,0.376917,0.440313,0.391207
4,0.0,0.0,0.000819,0.116854,0.078975,0.392880,0.298591,0.038820,0.825268,0.519522,...,0.427020,0.293059,0.280202,0.311515,0.424384,0.215117,0.470311,0.296070,0.381725,0.194110

In [33]:
train_data_x = train_data[['AMT_INCOME_TOTAL', 'AMT_CREDIT']].sample(1000)
test_data_x = test_data[['AMT_INCOME_TOTAL', 'AMT_CREDIT']]
train_data_y = train_Y[train_data_x.index]

In [34]:
# convert from dataframes to arrays
# get train labels and test ids
train_Y = utils.get_train_labels(app_train)
test_ids = app_test[['SK_ID_CURR']]
train_X = train_data_x.values
test_X = test_data_x.values
feature_names = train_data_x.columns # required to create feature importances

In [ ]:
import imp; imp.reload(models); imp.reload(utils)
model, predictions, feature_importances, metrics, res = utils.gbm_bayesian_optim(train_X, train_Y, test_X, feature_names, samples=100, max_evals=3)